@font-face {
  font-family: 'ficonset';
  src:  url('fonts/ficonset.eot?u59tjw');
  src:  url('fonts/ficonset.eot?u59tjw#iefix') format('embedded-opentype'),
    url('fonts/ficonset.ttf?u59tjw') format('truetype'),
    url('fonts/ficonset.woff?u59tjw') format('woff'),
    url('fonts/ficonset.svg?u59tjw#ficonset') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ficon-"], [class*=" ficon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ficonset' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ficon-job-search:before {
  content: "\e900";
}
.ficon-salary:before {
  content: "\e901";
}
.ficon-contract:before {
  content: "\e902";
}
.ficon-intelligence:before {
  content: "\e903";
}
.ficon-placeholder:before {
  content: "\e904";
}
.ficon-motivation:before {
  content: "\e905";
}
.ficon-settings:before {
  content: "\e906";
}
.ficon-stopwatch:before {
  content: "\e907";
}
.ficon-diploma:before {
  content: "\e908";
}
.ficon-clipboard:before {
  content: "\e909";
}
.ficon-target:before {
  content: "\e90a";
}
.ficon-handshake:before {
  content: "\e90b";
}
.ficon-meeting-1:before {
  content: "\e90c";
}
.ficon-networking:before {
  content: "\e90d";
}
.ficon-book:before {
  content: "\e90e";
}
.ficon-desk:before {
  content: "\e90f";
}
.ficon-analysis:before {
  content: "\e910";
}
.ficon-businessman-1:before {
  content: "\e911";
}
.ficon-meeting:before {
  content: "\e912";
}
.ficon-worker:before {
  content: "\e913";
}
.ficon-user:before {
  content: "\e914";
}
.ficon-megaphone-1:before {
  content: "\e915";
}
.ficon-video-call:before {
  content: "\e916";
}
.ficon-teamwork-1:before {
  content: "\e917";
}
.ficon-presentation-1:before {
  content: "\e918";
}
.ficon-businessman:before {
  content: "\e919";
}
.ficon-curriculum:before {
  content: "\e91a";
}
.ficon-presentation:before {
  content: "\e91b";
}
.ficon-engineer:before {
  content: "\e91c";
}
.ficon-conversation:before {
  content: "\e91d";
}
.ficon-teamwork:before {
  content: "\e91e";
}
.ficon-planning:before {
  content: "\e91f";
}
.ficon-relation:before {
  content: "\e920";
}
.ficon-add-user:before {
  content: "\e921";
}
.ficon-administrator:before {
  content: "\e922";
}
.ficon-balance:before {
  content: "\e923";
}
.ficon-calendar:before {
  content: "\e924";
}
.ficon-hierarchical-structure-1:before {
  content: "\e925";
}
.ficon-note:before {
  content: "\e926";
}
.ficon-database:before {
  content: "\e927";
}
.ficon-hierarchical-structure:before {
  content: "\e928";
}
.ficon-id-card:before {
  content: "\e929";
}
.ficon-email:before {
  content: "\e92a";
}
.ficon-briefcase:before {
  content: "\e92b";
}
.ficon-strategy:before {
  content: "\e92c";
}
.ficon-management:before {
  content: "\e92d";
}
.ficon-profits-1:before {
  content: "\e92e";
}
.ficon-megaphone:before {
  content: "\e92f";
}
.ficon-profits:before {
  content: "\e930";
}
.ficon-team:before {
  content: "\e931";
}
.ficon-auction:before {
  content: "\e932";
}
.ficon-briefcase2:before {
  content: "\e933";
}
.ficon-employee:before {
  content: "\e934";
}
.ficon-employees:before {
  content: "\e935";
}
.ficon-handshake2:before {
  content: "\e936";
}
.ficon-hierarchical-structure2:before {
  content: "\e937";
}
.ficon-presentation2:before {
  content: "\e938";
}
.ficon-presentation-12:before {
  content: "\e939";
}
.ficon-presentation-2:before {
  content: "\e93a";
}
.ficon-presentation-3:before {
  content: "\e93b";
}
.ficon-pyramid:before {
  content: "\e93c";
}
.ficon-report:before {
  content: "\e93d";
}
.ficon-stats:before {
  content: "\e93e";
}
.ficon-stats-1:before {
  content: "\e93f";
}
.ficon-stats-2:before {
  content: "\e940";
}
.ficon-stats-3:before {
  content: "\e941";
}
.ficon-stats-4:before {
  content: "\e942";
}
.ficon-team2:before {
  content: "\e943";
}
.ficon-team-1:before {
  content: "\e944";
}
.ficon-teamwork2:before {
  content: "\e945";
}
.ficon-atm:before {
  content: "\e946";
}
.ficon-atm-1:before {
  content: "\e947";
}
.ficon-atm-2:before {
  content: "\e948";
}
.ficon-bag:before {
  content: "\e949";
}
.ficon-bag-1:before {
  content: "\e94a";
}
.ficon-bag-2:before {
  content: "\e94b";
}
.ficon-bag-3:before {
  content: "\e94c";
}
.ficon-bag-4:before {
  content: "\e94d";
}
.ficon-bag-5:before {
  content: "\e94e";
}
.ficon-bag-6:before {
  content: "\e94f";
}
.ficon-bank:before {
  content: "\e950";
}
.ficon-barbershop:before {
  content: "\e951";
}
.ficon-barcode:before {
  content: "\e952";
}
.ficon-barcode-1:before {
  content: "\e953";
}
.ficon-basket:before {
  content: "\e954";
}
.ficon-basket-1:before {
  content: "\e955";
}
.ficon-basket-2:before {
  content: "\e956";
}
.ficon-box:before {
  content: "\e957";
}
.ficon-box-1:before {
  content: "\e958";
}
.ficon-box-2:before {
  content: "\e959";
}
.ficon-box-3:before {
  content: "\e95a";
}
.ficon-briefcase3:before {
  content: "\e95b";
}
.ficon-briefcase-1:before {
  content: "\e95c";
}
.ficon-calculator:before {
  content: "\e95d";
}
.ficon-cart:before {
  content: "\e95e";
}
.ficon-cart-1:before {
  content: "\e95f";
}
.ficon-cart-2:before {
  content: "\e960";
}
.ficon-cart-3:before {
  content: "\e961";
}
.ficon-cart-4:before {
  content: "\e962";
}
.ficon-cart-5:before {
  content: "\e963";
}
.ficon-cart-6:before {
  content: "\e964";
}
.ficon-cart-7:before {
  content: "\e965";
}
.ficon-cart-8:before {
  content: "\e966";
}
.ficon-cart-9:before {
  content: "\e967";
}
.ficon-cart-10:before {
  content: "\e968";
}
.ficon-cart-11:before {
  content: "\e969";
}
.ficon-cart-12:before {
  content: "\e96a";
}
.ficon-cart-13:before {
  content: "\e96b";
}
.ficon-cart-14:before {
  content: "\e96c";
}
.ficon-cart-15:before {
  content: "\e96d";
}
.ficon-cart-16:before {
  content: "\e96e";
}
.ficon-cart-17:before {
  content: "\e96f";
}
.ficon-cashier:before {
  content: "\e970";
}
.ficon-cashier-1:before {
  content: "\e971";
}
.ficon-change:before {
  content: "\e972";
}
.ficon-check:before {
  content: "\e973";
}
.ficon-coin:before {
  content: "\e974";
}
.ficon-coin-1:before {
  content: "\e975";
}
.ficon-coin-2:before {
  content: "\e976";
}
.ficon-coin-3:before {
  content: "\e977";
}
.ficon-coin-4:before {
  content: "\e978";
}
.ficon-coin-5:before {
  content: "\e979";
}
.ficon-coin-6:before {
  content: "\e97a";
}
.ficon-coin-7:before {
  content: "\e97b";
}
.ficon-coin-8:before {
  content: "\e97c";
}
.ficon-coin-9:before {
  content: "\e97d";
}
.ficon-coin-10:before {
  content: "\e97e";
}
.ficon-coins:before {
  content: "\e97f";
}
.ficon-coins-1:before {
  content: "\e980";
}
.ficon-crate:before {
  content: "\e981";
}
.ficon-crate-1:before {
  content: "\e982";
}
.ficon-crate-2:before {
  content: "\e983";
}
.ficon-crate-3:before {
  content: "\e984";
}
.ficon-crate-4:before {
  content: "\e985";
}
.ficon-crate-5:before {
  content: "\e986";
}
.ficon-credit-card:before {
  content: "\e987";
}
.ficon-credit-card-1:before {
  content: "\e988";
}
.ficon-credit-card-2:before {
  content: "\e989";
}
.ficon-credit-card-3:before {
  content: "\e98a";
}
.ficon-credit-card-4:before {
  content: "\e98b";
}
.ficon-credit-card-5:before {
  content: "\e98c";
}
.ficon-credit-card-6:before {
  content: "\e98d";
}
.ficon-delivery-cart:before {
  content: "\e98e";
}
.ficon-delivery-cart-1:before {
  content: "\e98f";
}
.ficon-diagram:before {
  content: "\e990";
}
.ficon-diagram-1:before {
  content: "\e991";
}
.ficon-diagram-2:before {
  content: "\e992";
}
.ficon-diagram-3:before {
  content: "\e993";
}
.ficon-folder:before {
  content: "\e994";
}
.ficon-folder-1:before {
  content: "\e995";
}
.ficon-get-money:before {
  content: "\e996";
}
.ficon-graph:before {
  content: "\e997";
}
.ficon-graph-1:before {
  content: "\e998";
}
.ficon-graph-2:before {
  content: "\e999";
}
.ficon-graph-3:before {
  content: "\e99a";
}
.ficon-graph-4:before {
  content: "\e99b";
}
.ficon-graph-5:before {
  content: "\e99c";
}
.ficon-graph-6:before {
  content: "\e99d";
}
.ficon-graph-7:before {
  content: "\e99e";
}
.ficon-graph-8:before {
  content: "\e99f";
}
.ficon-grocery:before {
  content: "\e9a0";
}
.ficon-grocery-1:before {
  content: "\e9a1";
}
.ficon-insert-coin:before {
  content: "\e9a2";
}
.ficon-investment:before {
  content: "\e9a3";
}
.ficon-justice:before {
  content: "\e9a4";
}
.ficon-justice-scale:before {
  content: "\e9a5";
}
.ficon-megaphone2:before {
  content: "\e9a6";
}
.ficon-money:before {
  content: "\e9a7";
}
.ficon-notes:before {
  content: "\e9a8";
}
.ficon-notes-1:before {
  content: "\e9a9";
}
.ficon-notes-2:before {
  content: "\e9aa";
}
.ficon-open:before {
  content: "\e9ab";
}
.ficon-pack:before {
  content: "\e9ac";
}
.ficon-pie-chart:before {
  content: "\e9ad";
}
.ficon-pie-chart-1:before {
  content: "\e9ae";
}
.ficon-pie-chart-2:before {
  content: "\e9af";
}
.ficon-pie-chart-3:before {
  content: "\e9b0";
}
.ficon-pie-chart-4:before {
  content: "\e9b1";
}
.ficon-pie-chart-5:before {
  content: "\e9b2";
}
.ficon-pie-chart-6:before {
  content: "\e9b3";
}
.ficon-piggy-bank:before {
  content: "\e9b4";
}
.ficon-piggy-bank-1:before {
  content: "\e9b5";
}
.ficon-point-of-service:before {
  content: "\e9b6";
}
.ficon-poor:before {
  content: "\e9b7";
}
.ficon-presentation3:before {
  content: "\e9b8";
}
.ficon-presentation-13:before {
  content: "\e9b9";
}
.ficon-presentation-22:before {
  content: "\e9ba";
}
.ficon-presentation-32:before {
  content: "\e9bb";
}
.ficon-presentation-4:before {
  content: "\e9bc";
}
.ficon-presentation-5:before {
  content: "\e9bd";
}
.ficon-presentation-6:before {
  content: "\e9be";
}
.ficon-presentation-7:before {
  content: "\e9bf";
}
.ficon-presentation-8:before {
  content: "\e9c0";
}
.ficon-presentation-9:before {
  content: "\e9c1";
}
.ficon-presentation-10:before {
  content: "\e9c2";
}
.ficon-presentation-11:before {
  content: "\e9c3";
}
.ficon-presentation-122:before {
  content: "\e9c4";
}
.ficon-presentation-132:before {
  content: "\e9c5";
}
.ficon-presentation-14:before {
  content: "\e9c6";
}
.ficon-presentation-15:before {
  content: "\e9c7";
}
.ficon-presentation-16:before {
  content: "\e9c8";
}
.ficon-presentation-17:before {
  content: "\e9c9";
}
.ficon-presentation-18:before {
  content: "\e9ca";
}
.ficon-presentation-19:before {
  content: "\e9cb";
}
.ficon-price-tag:before {
  content: "\e9cc";
}
.ficon-price-tag-1:before {
  content: "\e9cd";
}
.ficon-price-tag-2:before {
  content: "\e9ce";
}
.ficon-price-tag-3:before {
  content: "\e9cf";
}
.ficon-price-tag-4:before {
  content: "\e9d0";
}
.ficon-price-tag-5:before {
  content: "\e9d1";
}
.ficon-price-tag-6:before {
  content: "\e9d2";
}
.ficon-price-tag-7:before {
  content: "\e9d3";
}
.ficon-price-tag-8:before {
  content: "\e9d4";
}
.ficon-price-tag-9:before {
  content: "\e9d5";
}
.ficon-receipt:before {
  content: "\e9d6";
}
.ficon-record:before {
  content: "\e9d7";
}
.ficon-rewind-time:before {
  content: "\e9d8";
}
.ficon-rich:before {
  content: "\e9d9";
}
.ficon-safebox:before {
  content: "\e9da";
}
.ficon-safebox-1:before {
  content: "\e9db";
}
.ficon-safebox-2:before {
  content: "\e9dc";
}
.ficon-safebox-3:before {
  content: "\e9dd";
}
.ficon-safebox-4:before {
  content: "\e9de";
}
.ficon-stamp:before {
  content: "\e9df";
}
.ficon-stamp-1:before {
  content: "\e9e0";
}
.ficon-stand:before {
  content: "\e9e1";
}
.ficon-store:before {
  content: "\e9e2";
}
.ficon-store-1:before {
  content: "\e9e3";
}
.ficon-store-2:before {
  content: "\e9e4";
}
.ficon-store-3:before {
  content: "\e9e5";
}
.ficon-strongbox:before {
  content: "\e9e6";
}
.ficon-suitcase:before {
  content: "\e9e7";
}
.ficon-suitcase-1:before {
  content: "\e9e8";
}
.ficon-suitcase-2:before {
  content: "\e9e9";
}
.ficon-time-is-money:before {
  content: "\e9ea";
}
.ficon-time-passing:before {
  content: "\e9eb";
}
.ficon-wallet:before {
  content: "\e9ec";
}
.ficon-wallet-1:before {
  content: "\e9ed";
}
.ficon-wallet-2:before {
  content: "\e9ee";
}
.ficon-yen:before {
  content: "\e9ef";
}
.ficon-mobile:before {
  content: "\e000";
}
.ficon-laptop:before {
  content: "\e001";
}
.ficon-desktop:before {
  content: "\e002";
}
.ficon-tablet:before {
  content: "\e003";
}
.ficon-phone:before {
  content: "\e004";
}
.ficon-document:before {
  content: "\e005";
}
.ficon-documents:before {
  content: "\e006";
}
.ficon-search:before {
  content: "\e007";
}
.ficon-clipboard2:before {
  content: "\e008";
}
.ficon-newspaper:before {
  content: "\e009";
}
.ficon-notebook:before {
  content: "\e00a";
}
.ficon-book-open:before {
  content: "\e00b";
}
.ficon-browser:before {
  content: "\e00c";
}
.ficon-calendar2:before {
  content: "\e00d";
}
.ficon-presentation4:before {
  content: "\e00e";
}
.ficon-picture:before {
  content: "\e00f";
}
.ficon-pictures:before {
  content: "\e010";
}
.ficon-video:before {
  content: "\e011";
}
.ficon-camera:before {
  content: "\e012";
}
.ficon-printer:before {
  content: "\e013";
}
.ficon-toolbox:before {
  content: "\e014";
}
.ficon-briefcase4:before {
  content: "\e015";
}
.ficon-wallet2:before {
  content: "\e016";
}
.ficon-gift:before {
  content: "\e017";
}
.ficon-bargraph:before {
  content: "\e018";
}
.ficon-grid:before {
  content: "\e019";
}
.ficon-expand:before {
  content: "\e01a";
}
.ficon-focus:before {
  content: "\e01b";
}
.ficon-edit:before {
  content: "\e01c";
}
.ficon-adjustments:before {
  content: "\e01d";
}
.ficon-ribbon:before {
  content: "\e01e";
}
.ficon-hourglass:before {
  content: "\e01f";
}
.ficon-lock:before {
  content: "\e020";
}
.ficon-megaphone3:before {
  content: "\e021";
}
.ficon-shield:before {
  content: "\e022";
}
.ficon-trophy:before {
  content: "\e023";
}
.ficon-flag:before {
  content: "\e024";
}
.ficon-map:before {
  content: "\e025";
}
.ficon-puzzle:before {
  content: "\e026";
}
.ficon-basket2:before {
  content: "\e027";
}
.ficon-envelope:before {
  content: "\e028";
}
.ficon-streetsign:before {
  content: "\e029";
}
.ficon-telescope:before {
  content: "\e02a";
}
.ficon-gears:before {
  content: "\e02b";
}
.ficon-key:before {
  content: "\e02c";
}
.ficon-paperclip:before {
  content: "\e02d";
}
.ficon-attachment:before {
  content: "\e02e";
}
.ficon-pricetags:before {
  content: "\e02f";
}
.ficon-lightbulb:before {
  content: "\e030";
}
.ficon-layers:before {
  content: "\e031";
}
.ficon-pencil:before {
  content: "\e032";
}
.ficon-tools:before {
  content: "\e033";
}
.ficon-tools-2:before {
  content: "\e034";
}
.ficon-scissors:before {
  content: "\e035";
}
.ficon-paintbrush:before {
  content: "\e036";
}
.ficon-magnifying-glass:before {
  content: "\e037";
}
.ficon-circle-compass:before {
  content: "\e038";
}
.ficon-linegraph:before {
  content: "\e039";
}
.ficon-mic:before {
  content: "\e03a";
}
.ficon-strategy2:before {
  content: "\e03b";
}
.ficon-beaker:before {
  content: "\e03c";
}
.ficon-caution:before {
  content: "\e03d";
}
.ficon-recycle:before {
  content: "\e03e";
}
.ficon-anchor:before {
  content: "\e03f";
}
.ficon-profile-male:before {
  content: "\e040";
}
.ficon-profile-female:before {
  content: "\e041";
}
.ficon-bike:before {
  content: "\e042";
}
.ficon-wine:before {
  content: "\e043";
}
.ficon-hotairballoon:before {
  content: "\e044";
}
.ficon-globe:before {
  content: "\e045";
}
.ficon-genius:before {
  content: "\e046";
}
.ficon-map-pin:before {
  content: "\e047";
}
.ficon-dial:before {
  content: "\e048";
}
.ficon-chat:before {
  content: "\e049";
}
.ficon-heart:before {
  content: "\e04a";
}
.ficon-cloud:before {
  content: "\e04b";
}
.ficon-upload:before {
  content: "\e04c";
}
.ficon-download:before {
  content: "\e04d";
}
.ficon-target2:before {
  content: "\e04e";
}
.ficon-hazardous:before {
  content: "\e04f";
}
.ficon-piechart:before {
  content: "\e050";
}
.ficon-speedometer:before {
  content: "\e051";
}
.ficon-global:before {
  content: "\e052";
}
.ficon-compass:before {
  content: "\e053";
}
.ficon-lifesaver:before {
  content: "\e054";
}
.ficon-clock:before {
  content: "\e055";
}
.ficon-aperture:before {
  content: "\e056";
}
.ficon-quote:before {
  content: "\e057";
}
.ficon-scope:before {
  content: "\e058";
}
.ficon-alarmclock:before {
  content: "\e059";
}
.ficon-refresh:before {
  content: "\e05a";
}
.ficon-happy:before {
  content: "\e05b";
}
.ficon-sad:before {
  content: "\e05c";
}
.ficon-facebook:before {
  content: "\e05d";
}
.ficon-twitter:before {
  content: "\e05e";
}
.ficon-googleplus:before {
  content: "\e05f";
}
.ficon-rss:before {
  content: "\e060";
}
.ficon-tumblr:before {
  content: "\e061";
}
.ficon-linkedin:before {
  content: "\e062";
}
.ficon-dribbble:before {
  content: "\e063";
}
